*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}


.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
}

/* .result {} Не использовал */

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/* .search-form__label-text {} Не использовал */

/* Стили для лейбла-инпута (общие) */
.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 6px;
  cursor: pointer;
}

/* Когда наводим на чекбокс — текст подчеркивается (если только наводим на чекбокс(без поля ввода)) */
.search-form__label:has(input[type="checkbox"]):hover {
  text-decoration: underline;
}

/* Стили для поля ввода */
.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  border-left: none;
  border-right: none;
  color: #FFFFFF;
  background-color: inherit;
  appearance: none;
  width: 225px;
}

/* Стили для подсказки */
.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

/* Сбрасываем outline у поля ввода в фокусе */
.search-form__textfield:focus {
  outline: none;
  border-color: transparent; /* дополнительно сбрасываем цвет бордера */
}

/* Граница у инпутов при :focus-visible ...*/
.search-form__label:has(input:focus-visible) {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

/* Чек-боксы */
.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

/* .search-form__checkbox {} Не использовал*/

/* Форма чек-бокса */
.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #FFFFFF;
  padding: 1px;
}

/* Когда span:checked = input:after {opacity: 1} */
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

/* Заготовка чек-бокса */
.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* КНОПКИ */

/* Общий селектор кнопок */
.button {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  background-color: transparent;
  cursor: pointer;
}

/* Сбрасываем фокус */
.button:focus {
  outline: none;
}

/* Добавляем фокус-видимый :) */
.button:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px; /* отступ обводки, от края кнопки — йоу, йоу */
}

/* При наведении подчеркиваем */
.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

/* Кнопка поиска */
.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

/* Кнопка — показать больше*/
.more-button {
  width: 100%;
  height: 34px;
  flex-shrink: 0; /* Замечательное свойство которое запрещает элементу уменьшаться в размерах */
}

.content__details {
  width: 100%;
  height: 100%;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

/* Доработать в пиксель перфект */
.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 0.94;
}

.content__accent {
  color: #545050;
}

/* Ссылка карточки */
.content__card-link {
  display: block;
  text-decoration: none;
  text-overflow: ellipsis;
  color: #FFFFFF;
}

/* Селектор карточки на которую кликает пользователь */
.content__card-link_current {
  background-color: transparent; /* пока поставлю прозрачный */
}

/* Подчеркивание карточки при наведении */
.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFFFFF;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__card-link:active {
  background-color: #545050;
}

/* Изменение текста-заголовка ссылки-видео */
.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

/* Изменение текста-описания ссылки-видео */
.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  -webkit-line-clamp: 1;
}

.content__list-container {
  display: flex;
  position: relative;
  flex-direction: column;
  max-height: 298px;
  overflow-y: scroll;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.preloader {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
